.post{
    background-image: url('../../assets/inicioImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display:flex;
    align-items: center;
    background-position: center;
    h2{
        color: white;
        font-size: 40px;
        margin-left: 150px;
    }
}

.devoDoar{
    height: 80vh;
   
    div{
        height: 15vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            color:#005695 ;
            margin-left: 60px;
        }
    }
}
.cards{
    display: flex;
    height: 55vh;
    align-items: center;
    justify-content: space-evenly;

    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        height: 80%;
        background-color: #0157944D;
        border-radius: 10px;
        p{
            text-align: center;
            font-size: 1.5vw;
        }
    }
}

@media(max-width: 780px){
    .post{
        justify-content: center;
        h2{
            width: 80%;
            margin-left: 0px;
            text-align: center;
        }
    }



}

@media(max-width: 1000px){
    .cards{
        article{
            p{
                font-size: 1.8vw;
            }
        }
    }
    
}

@media(max-width: 780px){
    .devoDoar{
        height: 100vh;
        div{
            justify-content: center;
            h2{
                margin-left: 0px;
            }
        }
    }
    .cards{
        height: auto;
        flex-wrap: wrap;
        gap:20px;
        article{
            width: 230px;
            height: 38vh;
            p{
                font-size: 18px;
            }
        }
    }
}

@media(max-width: 488px){
.devoDoar{
    height: 188vh;
}

}