.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logoHeader {
  margin-left: 20px;
  display: flex;
  width: 20vw;
  justify-content: space-around;
  align-items: center;

  img {
    width: 20%;
  }

  h1 {
    font-size: 25px;
    color: #fff;
  }
}

.navHeader {
  width: 35vw;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  a {
    color: #fff;
    font-size: 20px;
  }
}

.barraDeBusca {
  border: solid #fff;
  border-radius: 20px;
  margin-right: 1%;
  width: 20vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    background-color: transparent;
    border: none;
    width: 12vw;
    height: 5vh;
    outline: none;
    color: white;
    font-size: 15px;

    &::placeholder {
      color: #fff;
      font-size: 15px;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 1303px) {
  .logoHeader {
    border: solid 2px red;
    width: 22vw;
    h1 {
      font-size: 1.8vw;
    }
    img {
      width: 5vw;
    }
  }
  .barraDeBusca {
    input {
      &::placeholder {
        font-size: 1vw;
      }
    }
  }
}
