.boxSocial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 10vh;
    background: #005695;
    padding-left: 50px;
    padding-right: 50px;
    nav{
        display: flex;
        border: solid 2px;
        width: 13vw;
        justify-content: space-around;
        align-items: center;
    }
}

.footerDireitos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}